* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: Montserrat, sans-serif;
  max-width: 375px;
  margin: 1rem;
  padding: 1rem;
  background-color: hsl(30, 38%, 92%);
}

.image {
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 0px;
}

.information {
  margin-top: -3px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0 0 0.5rem 0.5rem;
}

.productClass {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.productHeader {
  font-family: Fraunces, serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.productDescription {
  margin-bottom: 1.5rem;
}

.pricing {
  display: flex;
  align-items: center;
}

.currentPrice {
  font-family: Fraunces, serif;
  font-size: 2rem;
  color: #417e66;
}

.oldPrice {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  text-decoration: line-through;
  padding: 2rem;
}

.saleButton {
  font-size: 1rem;
  background-color: #417e66;
  color: #ffff;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
}

.saleButton:hover {
  background-color: #000000;
  cursor: pointer;
}

.cart {
  margin-right: 0.5rem;
  transform: translate(-50%, 20%);
}

.attribution {
  margin-top: 3rem;
  font-size: 0.5rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
